{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-about relative">
      <!-- .close -->
      <a href="{% url 'app:home' %}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>About <span class="primary">me</span> <span class="title-bg">Name</span></h2>
              <p>I am a professional Backend Developer with over a year of experience in the field. Since 2022, I have worked on more than 5 live projects and have collaborated with over 10 different clients!</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="about-author">
              <figure class="author-thumb">
                <img src="/static/images/me.jpg" alt="">
              </figure> <!-- /.author-bio -->
              <div class="author-desc">
                <p><b>Date of birth:</b> 31st August, 2004</p>
                <p><b>Language:</b> English, Uzbek</p>
                <p><b>Expert in:</b> Web development</p>
                <p><b>Freelance:</b> Available</p>
              </div>
              <!-- /.author-desc -->
            </div> <!-- /.about-author -->
            <p>I am passionate about delivering high-quality, scalable, and secure systems, and constantly strive to improve my skills through personal projects and online courses.</p>
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3>Skills</h3>
            </div>
            <div class="skill-wrapper">
              <div class="progress clear">
                <div class="skill-name">Photoshop</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">Illustrator</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="78%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">After Fffects</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="85%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">HTML5</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="95%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">WordPress</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="70%"></div>
              </div> <!-- /.progress -->
              <div class="progress clear">
                <div class="skill-name">jQuery</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="75%"></div>
              </div> <!-- /.progress -->
            </div> <!-- /.skill-wrapper -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'app:welcome' %}" class="link">&larr; Prev Page</a></span>
      <span class="copyright">Copyright &copy; 2023, Designed &amp; Developed by <a href="https://t.me/abdukulov">@abdukulov</a>.</span>
      <span class="next-page"><a href="{% url 'app:services' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->


{% endblock content %}