{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-services relative">
      <a href="{% url 'app:home' %}" class="page-close"><i class="tf-ion-close"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-offset-1 col-lg-10">
            <div class="page-title text-center">
              <h2>Awesome <span class="primary">Services</span> <span class="title-bg">Services</span></h2>
              <p>Expert in delivering outstanding web app and REST API solutions for improved scalability, security, and performance.</p>
            </div>

            <div class="hexagon-menu services clear">
              <div class="service-hex">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;"
                  xml:space="preserve">
                  <g>
                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4" />
                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131" />
                  </g>
                </svg>

                <div class="content">
                  <div class="icon">
                    <i class="et-line icon-lightbulb"></i>
                  </div>
                  <h4>Web Application <br> Development</h4>
                  <p>Scalability, security, and high performance.</p>
                </div>
              </div>
              <div class="service-hex">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;"
                  xml:space="preserve">
                  <g>
                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4" />
                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131" />
                  </g>
                </svg>
                <div class="content">
                  <div class="icon">
                    <i class="et-line icon-mobile"></i>
                  </div>
                  <h4>REST API <br> Development</h4>
                  <p>Seamless front-end and <br> back-end communication.</p>
                </div>
              </div>
              <div class="service-hex">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;"
                  xml:space="preserve">
                  <g>
                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4" />
                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131" />
                  </g>
                </svg>
                <div class="content">
                  <div class="icon">
                    <i class="et-line icon-profile-male"></i>
                  </div>
                  <h4>Database  <br> Management</h4>
                  <p>Optimized performance,<br>secure design, and <br> ensured data integrity.</p>
                </div>
              </div>
              <div class="service-hex">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;"
                  xml:space="preserve">
                  <g>
                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4" />
                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131" />
                  </g>
                </svg>
                <div class="content">
                  <div class="icon">
                    <i class="et-line icon-heart"></i>
                  </div>
                  <h4>Performance  <br> Optimization</h4>
                  <p>Through caching, <br> optimized queries, and <br>scalability tuning.</p>
                </div>
              </div>
              <div class="service-hex">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;"
                  xml:space="preserve">
                  <g>
                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4" />
                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131" />
                  </g>
                </svg>
                <div class="content">
                  <div class="icon">
                    <i class="et-line icon-hotairballoon"></i>
                  </div>
                  <h4>Security</h4>
                  <p>Expert authentication,<br> authorization, and encryption <br>practices</p>
                </div>
              </div>
            </div>

          </div> <!-- /.col-xs-12 -->

        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'app:about' %}" class="link">&larr; Prev Page</a></span>
      <span class="copyright">Copyright &copy; 2023, Designed &amp; Developed by <a href="https://t.me/abdukulov">@abdukulov</a>.</span>
      <span class="next-page"><a href="{% url 'app:resume' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->

    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</section> <!-- /.site-wrapper -->


{% endblock content %}