{% extends 'base.html' %}
{% load static %}

{% block content %}



<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-welcome relative">
      <!-- .close -->
      <a href="{% url 'app:home' %}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="author-image-large">
        <img src="/static/images/me.png" alt="">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-7">
            <div class="page-title">
              <h2>Abdulla <span class="primary">Abdukulov</span> <span class="title-bg">About</span></h2>
              <p>I am a seasoned Backend Developer with extensive experience in developing and maintaining complex systems. Originally from Uzbekistan, I have worked on various projects both as a full-time employee and as a freelance developer.</p>
              <p>With a strong background in RESTful API design and database management, I have a deep understanding of the inner workings of web applications and how to design scalable and efficient systems.
                My expertise in programming language such as Python allows me to bring new ideas to the table and create innovative solutions to meet the needs of each project.</p>
            </div>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'app:home' %}" class="link">&larr; Prev Page</a></span>
      <span class="copyright">Copyright &copy; 2023, Designed &amp; Developed by <a href="https://t.me/abdukulov">@abdukulov</a>.</span>
      <span class="next-page"><a href="{% url 'app:about' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->

    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{% endblock content %}
