{% extends "base.html" %}
{% load static %}


{% block content %}
<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-works relative">
      <!-- .close -->
      <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="page-title text-center">
              <h2>My <span class="primary">works</span> <span class="title-bg">works</span></h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat.</p>
            </div>
          </div>
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-xs-12">
            <ul class="filter list-inline">
              <li><a href="#" class="active" data-filter="*">All</a></li>
                {% for repo_type in repo_types %}
              <li><a href="#" data-filter=".{{ repo_type.id }}">{{ repo_type.name }}</a></li>
                {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row isotope-gutter">
            {% for repo in repos %}
                <a href="{{ repo.repo_url }}"><div class="col-xs-12 col-sm-6 col-md-4 {{ repo.repo_type.id }}">
            <figure class="works-item">
              <img src="{{ repo.image.url }}" alt="{{ repo.image }}">
              <div class="overlay"></div>
              <figcaption class="works-inner">
                <h4>{{ repo.name }}</h4>
                <p>{{ repo.repo_type.name }}</p>
              </figcaption>
            </figure>
          </div></a>
            {% endfor %}
        </div> <!-- /.row -->
      </div> <!-- /.container -->

      <nav class="page-nav clear">
  <div class="container">
    <div class="flex flex-middle space-between">
      <span class="prev-page"><a href="{% url 'app:resume' %}" class="link">&larr; Prev Page</a></span>
      <span class="copyright">Copyright &copy; 2023, Designed &amp; Developed by <a href="https://t.me/abdukulov">@abdukulov</a>.</span>
      <span class="next-page"><a href="{% url 'app:testimonials' %}" class="link">Next Page &rarr;</a></span>
    </div>
  </div>
  <!-- /.page-nav -->
</nav>
      <!-- /.container -->

    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->
{% endblock content %}